{% extends "home/base.html" %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="span10 offset1">

        <h2 style="margin-bottom:30px">About Blaggregator</h2>
        
        <div class="about">
            
            <div class="well">
                <p class="question">What is this?</p>

                <p class="answer">It's the central place to read and discuss technical work for the entire Hacker School community, including alums.</p>

                <p class="answer">During her batch, Sasha (W '13) noticed that her peers were all blogging about their work at Hacker School on their individual blogs. It was really cool to see what they were working on and thinking about. </p>

                <p class="answer">Some folks would post about their new posts in Zulip, some on Twitter, and some wouldn't spread the word at all. There was all this great work going on, but it was scattered across the internet. </p>

                <p class="answer">Blaggregator puts all this awesome content in one place. This has the nice side effect of providing a friendly audience for those who may have just launched their blog. </p>

                <p class="answer">And as more features like comments and article submission are added, it may serve as what Hacker News should have been—a place for technical folks to discuss technical news and work. </p>
            </div>

            <p class="question">Who's behind it?</p>

            <p class="answer"><a href="http://github.com/sursh">Sasha</a> is the primary maintainer. <a href="https://github.com/sursh/blaggregator/graphs/contributors">Twelve other Hacker Schoolers</a> (and counting!) have contributed. You are welcome to contribute as well (see below). </p>

            <p class="question">Why do I have to log in?</p>
            
            <p class="answer">Hacker School staff have requested the list of people attending Hacker School be kept private, so we ask that you authenticate with your Hacker School credentials to prove that you are a member of the community.</p>
                
            <p class="answer">If that ever changes (for instance, to surface the best posts that are coming out of Hacker School to show off what we're working on) you will be given lots and lots of warning to decide how you want to participate. </p>


            <p class="question">How does it work?</p>

            <p class="answer">Once an hour, the crawler checks all registered blogs for new posts ("new" is defined as having a new URL, so you can tweak the title and change the timestamp to your heart's content). New posts are displayed on the <a href="/new">main page</a> and a message is sent to Zulip. The rest of the app provides the web interface. </p>

            <p class="question">What's the stack?</p>

            <p class="answer">It's a Django app and therefore written in Python. Celery with a Redis backend handles all the asynchronous work. It's deployed on Heroku using their version of PostgreSQL. Check out the code <a href="https://github.com/sursh/blaggregator">here</a>.</p>

            <p class="question">I found a bug</p>

            <p class="answer">Great/sorry! Please <a href="https://github.com/sursh/blaggregator/issues">open an issue</a> or contribute a patch.</p>

            <p class="question">I don't see my blog post.</p>

            <p class="answer">If you published it less than ten minutes ago, hang tight: it'll show up when the crawler next checks the registered blogs.  If you published it longer ago, check the date on your post—if it was more than two days ago, your post is probably buried on page 2 or 3 of Blaggregator and is past the two-day cutoff for getting an announcement in Zulip. Some blog systems use the date you started your draft, rather than the date on which you published the post. </p>
            
            <p class="question">But my blog is multi-purpose and not wholly code/Hacker-School specific...</p>
            
            <p class="answer">No problem! Tag or categorize your relevant posts and make a separate RSS feed for them. If you use Wordpress, this is exceptionally easy: categorize all your code-related posts "code", for example. Then your code-specific RSS feed that you should publish to Blaggregator is: http://yoururl.com/blog/category/code/feed/. Done!</p>

            <p class="question">Can I contribute fixes and features?</p>

            <p class="answer">Yes, that would be great! This is a project by the community and for the Hacker School community. Help making it more awesome would be much appreciated. </p>
            
            <p class="answer">There's a list of <a href="https://github.com/sursh/blaggregator/blob/master/CONTRIBUTE.md">suggested contributions</a> and <a href="https://github.com/sursh/blaggregator/issues">open issues</a> if you're looking for an idea. Before implementing a major contribution, it's wise to get in touch with Sasha to make sure it will fit with the rest of the roadmap. </p>

            <p class="question">Can I lurk?</p>
            
            <p class="answer">Sure, just make an account and don't add your blog. But you shouldn't lurk. You should blog.</p>

            <p class="question">Why should I blog?</p>
            
            <ul class="answer">
                <li>It provides a record of your thinking and work for your future self.</li>
                <li>It gives prospective employers insight into the way you think. </li>
                <li>If you do a project that doesn't go as planned, you can still 'finish' the project and explain what you learned, even if you don't want to put the code on Github.</li>
                <li>It helps more people hear about and respect Hacker School, which in turn means more people will want to work with you.</li>
                <li>Writing helps you practice communicating, which is critical if you plan on working on a team of more than one person.</li>
                <li>It helps the developer community at large. </li>
            </ul>
            
            <p class="question">But blogging takes too long!</p>

            <p class="answer">Don't let the perfect be the enemy of the good. Your posts don't have to be long, groundbreaking, perfect, or full of citations. Short, imperfect, and <em>published</em> always beats unpublished. </p>

            <p class="question">But I haven't found the perfect blogging tool</p>

            <p class="answer">Don't let the perfect be the enemy of the good. Just get something up and resist the urge to fiddle with it. Use Tumblr if you have to. Just start writing. </p>
            
            <p class="question">I need some more inspiration.</p>
            
            <ul class="answer">
                <li><a href="https://sites.google.com/site/steveyegge2/you-should-write-blogs">You Should Write Blogs</a> (Steve Yegge)</li>
                <li><a href="http://www.garann.com/dev/2013/how-to-blog-about-code-and-give-zero-fucks/">How to blog about code and give zero fucks</a>. (Garann Means)</li>
                <li>Please add your fave inspiration with a <a href="http://github.com/sursh/blaggregator/">pull request</a>.</li>
            </ul>
            
            <p class="question">I need some accountability!</p>
            
            <p class="answer">Consider starting your own Iron Blogger challenge. Participants commit
                to writing one blog post a week, and are on the hook for $5 if they don't post. The
                pot can be used for a party, donated to charity, or donated to a charity the group
                hates (added incentive to hit the publish button!).</p>
                
            <p class="answer">The Fall 2013 batch ran a very successful Iron Blogger program. Mike Walker <a href="http://blog.lazerwalker.com/blog/2013/12/24/one-post-a-week-running-an-iron-blogger-challenge/">wrote a very nice article on how it worked</a>.</p>
            
        </div>
    </div>

{% endblock %}



