{% extends "home/base.html" %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block title %}
    Don't be shy - we'd love to see your blog!
{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="" method="post">

      {% csrf_token %}

      <p>Please add your blog's <span style="color:red">FEED</span> url.</p>

      <div class="input-append">
        <input class="span6" name="feed_url" type="url" placeholder="Feed URL">
        <button class="btn" type="button submit">Add Your Blog</button>
      </div>

      <p><a href="/new">or do this later</a></p>

    </form>

{% endblock %}
