{% load customtags %}

<h4>{% if blogs %} Add another blog {% else %} Add your blog {% endif %}</h4>
<p>Please add your blog's <span style="color:red">feed (atom/RSS) </span> url.</p>

<ul>
    <li><strong>All</strong> your blog posts (in this feed) will show up on
        <a href="{% url 'new' %}" target="_blank">Blaggregator</a></li>
    <li>All your <strong>future</strong> blog posts (in this feed) will be notified on Zulip in
        <a href="{{ ""|zulip_url:"blogging" }}" target="_blank">#blogging</a>
     </li>
</ul>

<form action="{% url 'add_blog' %}" method="post">
    {% csrf_token %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.level_tag }}">
                {% if 'safe' in message.tags %}
                    {{ message | safe }}
                {% else %}
                    {{ message }}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    <div class="input-append">
        <input class="span6" name="feed_url" type="url" placeholder="Feed URL" required>
        <button class="btn" type="button submit">Add Your Blog</button>
    </div>
</form>
