{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/mystyles.css" %}" rel="stylesheet" media="screen">
    <title>{% block pagetitle %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="/new">Blaggregator</a>

     <!--            <ul class="nav">
                  <li id="all"><a href="/new">All</a></li>
                  <li id="hs"><a href="#">by Hacker School</a></li>
                  <li id="submitted"><a href="#">Submitted (coming soon!)</a></li>
                </ul> -->

                <ul class="nav pull-right">
                    <li><a>Welcome{% if user.is_authenticated %} {% block firstName %}{% endblock firstName%}{% endif %}!</a></li>
                    <li><a href="/add_blog">Add your blog</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">

        <div id="title">
            <h2>{% block title %}{% endblock %}</h2>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </div>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>
