{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="{% static "css/mystyles.css" %}" rel="stylesheet" media="screen">
        <title>{% block pagetitle %}{% endblock %}</title>
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-45572414-1', 'blaggregator.us');
         ga('send', 'pageview');
        </script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/new">Blaggregator<span class="subbrand">.RecurseCenter</span></a>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        {% url 'profile' user.id as profile_url %}
                        {% if not primary_blog_set and profile_url != request.get_full_path%}
                            <li class="nav-item">
                                <a href="{{profile_url}}">
                                    <button class="btn mr-auto btn-primary" type="button submit">Add Your Blog</button>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" role="button" href="#" class="btn btn-outline-secondary nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome, {{ user.first_name }}!
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/profile/{{user.id}}">Profile</a>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">

            <div id="title">
                <h2>{% block title %}{% endblock %}</h2>
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

        </div>

        <footer class="navbar fixed-bottom navbar-light bg-light" role="navigation">
            <div class="container">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/recursecenter/blaggregator/issues">Contribute</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'feed' %}?token={{user.hacker.token}}" target="_blank">
                                <img class="feed-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Rss-feed.svg/24px-Rss-feed.svg.png"/>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <form class="form-inline pt-0" role="search" method="GET" action="/search">
                        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                {% endif %}
            </div>
        </footer>


        {% block scripts %}
            <script src="//code.jquery.com/jquery.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
            <script src="{% static "js/update_images.js" %}"></script>
        {% endblock %}

    </body>
</html>
