{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/mystyles.css" %}" rel="stylesheet" media="screen">
    <title>{% block pagetitle %}{% endblock %}</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45572414-1', 'blaggregator.us');
      ga('send', 'pageview');
    </script>
</head>

<body>
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="/new">Blaggregator<span class="subbrand">.RecurseCenter</span></a>
                <ul class="nav pull-right">
                  {% if user.is_authenticated %}
                    <li>
                        <form id="searchbox" class="navbar-form" role="search"
                              method="GET" action="/search">
                            <div class="form-group">
                                <label for="GET_search"></label>
                                <input id="GET_search" name="q" type="text" >
                                <button type="submit" class="add-on"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown">
                      <a id="navdropdown" href="#" class="dropdown-toggle" data-toggle="dropdown" > Welcome, {{ user.first_name }}! <b class="caret"></b> </a>
                      <ul class="dropdown-menu" aria-labeledby="navdropdown">
                        <li><a href="/profile/{{user.id}}">Profile</a></li>
                        <li><a href="/about">About Blaggregator</a></li>
                        <li><a href="https://github.com/recursecenter/blaggregator/issues">Contribute</a></li>
                        <li><a href="/logout">Log out</a></li>
                      </ul>
                    </li>
                  {% endif %}
                </ul>


                {% if user.is_authenticated %}
                  <a href="{% url 'feed' %}?token={{user.hacker.token}}" target="_blank">
                    <img class="feed-icon pull-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Rss-feed.svg/24px-Rss-feed.svg.png"/>
                  </a>

                  {% if not primary_blog_set %}
                    <a href="/add_blog"><button class="btn pull-right btn-primary" type="button submit">Add Your Blog</button></a>
                  {% endif %}
                {% endif %}

            </div>
        </div>
    </nav>

    <div class="container">

        <div id="title">
            <h2>{% block title %}{% endblock %}</h2>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </div>


    {% block scripts %}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/update_images.js" %}"></script>
    {% endblock %}

</body>
</html>
