{% extends "home/base.html" %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block firstName %}{{ user.first_name }}{% endblock %}

{% block title %}
    You're new here! Want to create an account? You only need to do this once.
{% endblock title %}


{% block content %}

    <form class="form-horizontal" action="create_account" method="post">
    {% csrf_token %}

      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="email" name="email" placeholder="Hacker School Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Create account</button>
        </div>
      </div>
    </form>

{% endblock %}

