<h1>You're new here! Want to create an account? You only need to do this once.</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="create_account" method="post">

{% csrf_token %}

    <label for="email">Email on Hacker School account</label>
    <input data-validate="email, notEmpty" type="text" name="email" />
    <label for="password">Hacker School Password</label>
    <input data-validate="notEmpty" type="password" name="password" />

<input type="submit" value="Log In" />

</form>