{% extends "home/base.html" %}

{% load humanize %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

<div class='well'>
    <div class="media post">
      <a class="pull-left" href="#">
        <img class="media-object" src="{{ post.avatar }}" width="125px" height="125px">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="view">{{ post.title }}</a></h4>
        <span class="byline">by <a href="http://hackerschool.com/people/{{ post.authorid }}">{{ post.author }}</a></span>
      </div>
    </div>
</div>

{% endblock %}
