{% extends "home/base.html" %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block firstName %}{{ user.first_name }}{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="well span6 offset3">

        <h2 class="text-center" style="margin-bottom:20px">Please log in</h2>

        <div style="margin-right:auto; margin-left:auto;">
            <form class="form-horizontal" action="log_in" method="post">
            {% csrf_token %}

              <div class="control-group">
                <label class="control-label" for="email">Username</label>
                <div class="controls">
                  <input type="text" name="email" placeholder="FirstLast" autofocus>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                  <input type="password" name="password" placeholder="Password">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Sign in</button>
                </div>
              </div>

            <div class="text-center">
                <a href="/create_account">or create a new account</a>
            </div>


            </form>
        </div>
</div>



{% endblock %}



