{% extends "home/base.html" %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

<div class="span10 offset1">
    <h2 style="margin-bottom: 30px">Welcome to Blaggregator!</h2>
    
    <p>Blaggregator is the central place to read and discuss technical work for the entire Hacker School community, including alums. <a href="/about">Read more</a>.</p>

    <p><a href="/login/hackerschool/" class="btn btn-primary">Log in with Hacker School</a></p>
</div>

{% endblock %}
