{% extends "home/base.html" %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="well span6 offset3">

        <h2 class="text-center" style="margin-bottom:20px">Welcome! Please log in.</h2>

        <div>
            Blaggregator aggregates the writings of the Hacker School community so you can easily follow everyone's awesome work. <a href="/about">Read more</a>.
        </div>

        <div style="margin-right:auto; margin-left:auto;">
            <form class="form-horizontal" action="" method="post">
            {% csrf_token %}

              <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <input type="text" name="email" placeholder="Email" autofocus>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                  <input type="password" name="password" placeholder="Password">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Sign in</button>
                </div>
              </div>

            <div class="text-center">
              <em>Can't login?</em> <a href="/password_change">reauthenticate</a>
            </div>
            <div class="text-center">
                <em>New here?</em> <a href="/create_account">create a new account</a>
            </div>


            </form>
        </div>
</div>



{% endblock %}
