{% extends "home/base.html" %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block firstName %}{{ user.first_name }}{% endblock %}

{% block title %}
    20 Random Posts (date ordering coming soon)
{% endblock %}

{% block content %}

{% for post in postList %}
    <div class="media post">
      <a class="pull-left" href="#">
        <img class="media-object" src="{{ post.avatar }}" width="64px" height="64px">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <span class="byline">{{ post.author }}</span>
      </div>
    </div>
{% endfor %}

{% endblock %}





