{% extends "home/base.html" %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block firstName %}{{ user.first_name }}{% endblock %}

{% block title %}
    Here are all the blogs! Individual posts coming soon.
{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for blog in blogList %}
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="/static/img/holder64x64.png">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{ blog.author }}</h4>
        <a href="{{ blog.url }}">Blog</a>
      </div>
    </div>
        {% endfor %}


{% endblock %}





