{% extends "home/base.html" %}

{% block pagetitle %}Blaggregator{% endblock %}

{% block firstName %}{{ user.first_name }}{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

<div class='postlist'>
    <h2>Newest Posts</h2>
    {% for post in newPostList %}
        <div class="media post">
          <a class="pull-left" href="#">
            <img class="media-object" src="{{ post.avatar }}" width="64px" height="64px">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <span class="byline"><a href="http://hackerschool.com/people/{{ post.authorid }}">{{ post.author }}</a></span>
            {% if post.comments %}
                <div><a href="../post/{{ post.slug }}">{{ post.comments|length }} comments</a></div>
            {% else %}
                <div><a href="../post/{{ post.slug }}">Discuss</a></div>
            {% endif %}
          </div>
        </div>
    {% endfor %}
</div>

<div class='postlist'>
    <h2>Random Posts from the Archive</h2>
    {% for post in randomPostList %}
        <div class="media post">
          <a class="pull-left" href="#">
            <img class="media-object" src="{{ post.avatar }}" width="64px" height="64px">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <span class="byline"><a href="http://hackerschool.com/people/{{ post.authorid }}">{{ post.author }}</a></span>
          </div>
        </div>
    {% endfor %}
</div>

{% endblock %}





