{% extends "home/base.html" %}
{% block pagetitle %}Blaggregator{% endblock %}

{% block content %}
    {% if not owner %}
        <div class="clearfix py-3 mt-10">
            <div class="float-left">
            <h1 class="clearfix">{{ hacker.user.get_full_name }}</h1>
            <span class="clearfix">
                <span class="mr-2">
                    <a class="pr-2" target="_blank" href="https://recurse.com/people/{{hacker.user.id}}">
                        <i style="display:inline-block" class="rc-logo align-top mt-1"></i>
                    </a>
                </span>
                {% if hacker.github %}
                    <a class="mr-1 text-dark" target="_blank" href="https://github.com/{{hacker.github}}">
                        <i class="fa fa-github"></i>
                    </a>
                {% endif %}
                {% if hacker.twitter %}
                    <a class="mr-1 text-dark" target="_blank" href="https://github.com/{{hacker.twitter}}">
                        <i class="fa fa-twitter"></i>
                    </a>
                {% endif %}
            </span>
            </div>
            <a class="float-right" target="_blank" href="https://recurse.com/people/{{hacker.user.id}}">
                <img data-author-id="{{ hacker.user.id }}" src="{{ hacker.avatar_url }}" width="80px" height="80px">
            </a>
        </div>
    {% endif %}


    <div class="clearfix py-2">
        {% if forms %}
            <h2>Blogs</h2>
            <table class="table">
                <tr>
                    <th>Feed URL</th> <th>Crawling?</th> <th>Stream</th>
                    {% if owner %}
                        <th>&nbsp;</th>
                    {% endif %}
                </tr>
                {% for form in forms %}
                    {% with blog=form.instance %}
                        <tr>
                            <td>
                                <a href="{{blog.feed_url}}" target="_blank">{{blog.feed_url}}</a>
                                <span class="text-muted">({{blog.post_count}} posts)</span>
                            </td>
                            <td>
                                {% if blog.skip_crawl %}
                                    <span class="badge badge-warning">Disabled</span>
                                {% else %}
                                    <span class="badge badge-info">Active</span>
                                {% endif %}
                            </td>
                            <td><a href="https://zulip.com/#narrow/stream/{{blog.get_stream_display}}" target="_blank">{{blog.get_stream_display}}</a></td>
                            {% if owner %}
                                <td>
                                    <button type="button"
                                            class="btn btn-outline-dark btn-sm"
                                            data-target="#edit-{{blog.id}}"
                                            data-toggle="collapse">
                                        <i class="fa fa-pencil"></i> Edit
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            data-toggle="modal"
                                            data-target="#modal-{{blog.id}}">
                                        Delete
                                    </button>
                                </td>
                            {% endif %}
                        </tr>
                        {% include 'home/confirm_delete.html' %}
                        <tr id="edit-{{blog.id}}" class="collapse">
                            <td colspan="12">
                                {% include 'home/edit_blog.html' %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </table>
        {% endif %}
        {% if owner %}
            {% include 'home/add_blog.html' %}
        {% endif %}
    </div>

    {% if owner %}
        <div class="clearfix my-4 py-4">
            <div class="alert-block">
                <h2>Blaggregator RSS feed</h2>
                <p>
                    Blaggregator provides an <strong>authenticated</strong>
                    <a href="{{feed_url}}">RSS feed</a>.  Please keep
                    your feed URL private.  In case you accidentally share the URL, you
                    can reset it using the button below.
                </p>

                <form action={% url "refresh_token" %}>
                  <div class="form-group">
                    <input class="form-control" type="text" size=100 value="{{feed_url}}" disabled />
                  </div>
                  <div class="form-group">
                    <input class="btn btn-secondary btn-sm" type="submit" value="Update feed token">
                  </div>
                </form>
            </div>
        </div>
    {% endif %}

    <div class="clearfix">
        {% if post_list %}
            <h2>Blog Posts</h2>
            <span class="text-muted">{{ post_list.count }} posts</span>
            {% include 'home/postlist.html' %}
        {% endif %}
    </div>

{% endblock %}
