<h1>Blaggregator</h1>
<p>Blog post aggregator for the Recurse Center community.  Live version runs at
<a href="https://blaggregator.recurse.com">https://blaggregator.recurse.com</a> (RC login required).</p>
<div class="well">

<h2>What is this?</h2>

<p>During her batch, Sasha (W '13) noticed that her peers were all blogging about
their work at the Recurse Center on their individual blogs. It was really cool
to see what they were working on and thinking about.</p>

<p>Some folks would post about their new posts in Zulip, some on Twitter, and some
wouldn't spread the word at all. There was all this great work going on, but it
was scattered across the internet.</p>

<p>Blaggregator puts all this awesome content in one place, and provides a place
for the members of the community to read and discuss it.  This has the nice
side effect of providing a friendly audience for those who may have just
launched their blog.</p>

</div>

<p><a href="https://github.com/recursecenter/blaggregator/graphs/contributors">These awesome people</a> have
helped make Blaggregator better!</p>
<h2>License</h2>
<p>Copyright © 2013-2017 Sasha Laundy and others.</p>
<p>This software is licensed under the terms of the AGPL, Version 3. The complete
license can be found at https://www.gnu.org/licenses/agpl-3.0.html.</p>
<h2>FAQ</h2>
<h3>How does it work?</h3>
<p>Once an hour, the crawler checks all registered blogs for new posts. New posts
are displayed on the main page and a message is sent to Zulip.</p>
<p>"New" is defined as a post having a new URL and a new title.  So you can tweak
the title, change the content or the timestamp to your heart's content.</p>
<h3>Why do I have to log in?</h3>
<p>The Recurse Center staff wishes to keep the list of people attending the
Recurse Center private. So you are required to authenticate with your Recurse
Center credentials</p>
<p>If that ever changes (for instance, to surface the best posts that are coming
out of the Recurse Center to show off what we're working on) you will be given
lots and lots of warning to decide how you want to participate.</p>
<h3>Who's behind it?</h3>
<p><a href="https://github.com/sursh">Sasha</a> is the main author, with a bunch of
other
<a href="https://github.com/recursecenter/blaggregator/graphs/contributors">recursers</a>
contributing.  You are welcome to contribute as well!</p>
<p><a href="https://github.com/punchagan">Puneeth</a> is the primary maintainer, currently.</p>
<h3>Can I contribute fixes and features?</h3>
<p>Yes, that would be great! This is a project by and for the Recurse Center
community. Help make it more awesome!</p>
<p>There's a very generic and high level list
of
<a href="https://github.com/recursecenter/blaggregator/blob/master/.github/CONTRIBUTING.md">areas that could use some help</a> and
a bunch of specific
<a href="https://github.com/recursecenter/blaggregator/issues">open issues</a>.</p>
<p>Look at
the
<a href="https://github.com/recursecenter/blaggregator/blob/master/docs/development.md">developer documentation</a> for
help with setting up your development environment.</p>
<p>Before implementing a major contribution, it's wise to get in touch with the
maintainers by creating an issue (or using an existing issue) to discuss it.</p>
<h3>What's the stack?</h3>
<p>It's a Django (Python) app, with some Bootstrap on the frontend.  It's deployed
on Heroku using their Postgres and Scheduler add-ons. Check out the
code <a href="https://github.com/recursecenter/blaggregator">here</a>.</p>
<h3>I don't see my blog post.</h3>
<p>If you published it less than an hour ago, hang tight: it'll show up when the
crawler next checks the registered blogs. If Blaggregator finds many new posts
on your blog, it will only post the two most recent posts to Zulip. All of your
posts will still be available on the <a href="https://blaggregator.recurse.com">site</a></p>
<h3>My blog post appears on blaggregator but no Zulip notification sent.</h3>
<p>For every crawl a maximum of 2 notifications are sent for posts that haven't
already been seen by blaggregator. So, if you published more than 2 posts
between consecutive (hourly) crawls by blaggregator, only the last two posts
will be notified on Zulip.</p>
<h3>My blog is multi-purpose and not wholly code/Recurse Center specific</h3>
<p>No problem! RCers usually enjoy reading non-technical posts by others. </p>
<p>But, if you like, you could tag or categorize your relevant posts and make a
separate RSS/Atom feed for them. Most blogging software has separate feeds for
different categories/tags.</p>
<p>If you use Wordpress, for instance, categorize all your code-related posts
"code", say. Then your code-specific RSS feed that you should publish to
Blaggregator is: http://yoururl.com/blog/category/code/feed/.</p>
<h3>Can I lurk?</h3>
<p>Sure, just make an account and don't add your blog. But you shouldn't lurk. You
should blog.</p>
<h3>Why should I blog?</h3>
<ul>
<li>It provides a record of your thinking and work for your future self.</li>
<li>It gives prospective employers insight into the way you think.</li>
<li>If you do a project that doesn't go as planned, you can still 'finish' the
  project and explain what you learned, even if you don't want to put the code
  on Github.</li>
<li>It helps more people hear about and respect the Recurse Center, which in turn
  means more people will want to work with you.</li>
<li>Writing helps you practice communicating, which is critical if you plan on
  working on a team of more than one person.</li>
<li>It helps the developer community at large.</li>
</ul>
<h3>But blogging takes too long!</h3>
<p>Don't let the perfect be the enemy of the good. Your posts don't have to be
long, groundbreaking, perfect, or full of citations. Short, imperfect, and
<em>published</em> always beats unpublished.</p>
<h3>But I haven't found the perfect blogging tool</h3>
<p>Don't let the perfect be the enemy of the good. Just get something up and
resist the urge to fiddle with it. Use Tumblr if you have to. Just start
writing.</p>
<h3>I need some more inspiration.</h3>
<ul>
<li><a href="https://sites.google.com/site/steveyegge2/you-should-write-blogs">You Should Write
    Blogs</a>
    (Steve Yegge)</li>
<li><a href="http://www.garann.com/dev/2013/how-to-blog-about-code-and-give-zero-fucks/">How to blog about code and give zero
    fucks</a>.
    (Garann Means)</li>
<li>Please add your fave inspiration with a <a href="https://github.com/recursecenter/blaggregator/pulls">pull
    request</a>.</li>
</ul>
<h3>I need some accountability!</h3>
<p>Consider starting your own Iron Blogger challenge. Participants commit to
writing one blog post a week, and are on the hook for $5 if they don't
post. The pot can be used for a party, donated to charity, or donated to a
charity the group hates (added incentive to hit the publish button!).</p>
<p>The Fall 2013 batch ran a very successful Iron Blogger program. Mike
Walker
<a href="http://blog.lazerwalker.com/2013/12/24/one-post-a-week-running-an-iron-blogger-challenge">wrote a very nice article on how it worked</a>.</p>