backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
boto==2.43.0
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
configparser==3.5.0
coverage==4.2
defusedxml==0.6.0
dj-database-url==0.4.1
Django==1.11.28
django-storages==1.5.1
entrypoints==0.3
enum34==1.1.6
factory-boy==2.10.0
Faker==0.8.12
feedgenerator==1.9
feedparser==5.2.1
flake8==3.7.9
funcsigs==1.0.2
gevent==1.4.0
greenlet==0.4.15
grequests==0.3.0
gunicorn==19.6.0
hypothesis==3.6.0
idna==2.7
ipaddress==1.0.19
lxml==4.6.2
Markdown==2.6.7
mccabe==0.6.1
mock==2.0.0
oauthlib==2.0.0
pbr==1.10.0
psycopg2==2.7.4
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==1.4.2
python-dateutil==2.7.0
python-openid==2.2.5
python3-openid==3.1.0
pytz==2016.7
requests==2.22.0
requests-oauthlib==0.7.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
soupsieve==1.9.1
text-unidecode==1.2
urllib3==1.25.7
