boto==2.8.0
configparser==3.5.0
coverage==4.2
dj-database-url==0.2.1
Django==1.5.1
django-storages==1.1.8
enum34==1.1.6
factory-boy==2.7.0
fake-factory==0.7.2
Faker==0.7.3
feedgenerator==1.9
feedparser==5.1.3
flake8==3.0.4
funcsigs==1.0.2
gunicorn==0.17.2
hypothesis==3.6.0
ipaddress==1.0.17
Markdown==2.6.7
mccabe==0.5.2
mock==2.0.0
oauthlib==0.6.1
pbr==1.10.0
psycopg2==2.5.1
pycodestyle==2.0.0
pyflakes==1.2.3
python-cloudfiles==1.7.10
python-dateutil==2.1
python-openid==2.2.5
python-social-auth==0.1.21
pytz==2013.8
requests==1.2.0
requests-oauthlib==0.4.0
six==1.10.0
South==0.7.6
