boto==2.43.0
configparser==3.5.0
coverage==4.2
dj-database-url==0.4.1
Django==1.10
django-storages==1.5.1
enum34==1.1.6
factory-boy==2.7.0
fake-factory==0.7.2
feedgenerator==1.9
feedparser==5.2.1
flake8==3.0.4
funcsigs==1.0.2
gunicorn==19.6.0
hypothesis==3.6.0
ipaddress==1.0.17
Markdown==2.6.7
mccabe==0.5.2
mock==2.0.0
oauthlib==2.0.0
pbr==1.10.0
psycopg2==2.7.4
pycodestyle==2.0.0
pyflakes==1.2.3
PyJWT==1.4.2
python-dateutil==2.5.3
python-openid==2.2.5
python-social-auth==0.2.21
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
