html {
  height:100%; /* fuck you firefox */
}
body {
    padding: 60px;
}

form {
    padding-top: 20px;
}

/* 
    New posts page - main view 
*/
.media .post {
    margin-top:25px;
}
/* title of each post listing */
.media-heading {
  font-size: 1.4em;
}
.listing-title a { color: #333; }
.listing-title a:visited { color: #ccc; }

/* comments link for each post listing */
.media-body {
  font-size: 1.1em;
}
a.listing-comments { color: #333; }
a.listing-comments { color: #333; }
/* todo make this color scheme less harsh */

span.byline {
    color:#cccccc;
}

span.date {
    color:#cccccc;
}

.postlist {
    padding-bottom:20px;
}

a.muted {
  color: #85ACC0;
}

/* Comments */
.comments li {
  display: block;
  margin: 2em 1em;
}

.comments .meta {
  border-bottom: 1px solid #ddd;
  color: #999;
  font-size: 0.9em;
}

.add_comment {
  border-top: 1px solid #ddd;
  margin-top: 4em;
}

.add_comment form {
  margin: 2em auto 0;
  padding: 0;
  width: 700px;
}

.add_comment textarea {
  width: 100%;
}

.add_comment h4 {
  margin-bottom: 1em;
}

.subbrand {
  color: #ccc;
}

.question {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 0.8em;
}

.answer {
}

/* iframe post view */
body.framed {
  margin: 0px;
  padding: 0px;
  height: 100%; /* fuck you firefox */
  overflow: hidden;
}
.everything {
  background:#efefef;
  height: 100%;
}
img.framed {
  vertical-align: top;
  border-radius: 3px;
  float: left;
  display: inline-block;
  width: 60px;
  height: 60px;
}
div.bar {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid gray;
  text-decoration: none;
}
div.bar a {
  text-decoration: none;
}
div.bar-container {
  float:left;
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
  display: block;
}
.words {
  padding-left: 70px;
  padding-top: 5px;
  display: block;
}
.post-title {
  display: block;
  color: #333;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 5px;
}
.post-comments {
  display: block;
}
.close-frame {
  position: absolute;
  right: 10px;
}
.close-frame a:link {
  text-decoration: none;
  color:gray; 
}
.close-frame a:visited {
  text-decoration: none;
  color:gray;
}