body {
    padding: 60px;
}

form {
    padding-top: 20px;
}

.media .post {
    margin-top:25px;
}

span.byline {
    color:#cccccc;
}

.postlist {
    padding-bottom:20px;
}

a.muted {
  color: #85ACC0;
}

/* Comments */
.comments li {
  display: block;
  margin: 2em 1em;
}

.comments .meta {
  border-bottom: 1px solid #ddd;
  color: #999;
  font-size: 0.9em;
}

.add_comment {
  border-top: 1px solid #ddd;
  margin-top: 4em;
}

.add_comment form {
  margin: 2em auto 0;
  padding: 0;
  width: 500px;
}

.add_comment textarea {
  width: 100%;
}

.add_comment h4 {
  margin-bottom: 1em;
}
